:root {
	--bg-color: hsl(0, 100%, 1%);
}

body {
	background-color: var(--bg-color);
	font-family: monospace;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
}

.app {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5px;

	width: 50%;
	min-width: 360px;
	max-width: 480px;

	height: 60vh;
	min-height: 480px;

	padding: 1%;

	background-color: hsl(220, 80%, 10%);
	border-radius: 5px;

	box-shadow: 0 0 40px 0px hsla(220, 100%, 20%, 1);
}

.output {
	grid-column: span 4 / auto;

	display: flex;
	align-items: center;
	justify-content: flex-end;

	padding-right: 3%;

	background-color: hsl(220, 50%, 70%);

	font-size: 2rem;
	font-weight: bold;
	text-align: right;
}

.equal {
	grid-column: span 2 / auto;
}

.app button {
	padding: 0;

	background-color: hsl(0, 0%, 95%);
	border: none;

	font-size: 1rem;
	cursor: pointer;

	opacity: 0.7;
}

.app button:hover {
	opacity: 1;
}
