body {
	background-color: hsl(0, 0%, 13%);
	font-family: monospace;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4vh;

	width: 100%;
	height: 100%;
}

.app {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5px;

	width: 50%;
	min-width: 360px;
	max-width: 480px;

	height: 60vh;
	min-height: 480px;

	padding: 2%;

	background-color: hsl(0, 0%, 86%);
	border-radius: 5px;

	color: hsl(0, 0%, 4%);

	box-shadow: 0 0 20px 0px hsl(0, 0%, 40%);
}

.output {
	grid-column: span 4 / auto;

	display: flex;
	align-items: center;
	justify-content: flex-end;

	padding-right: 3%;

	background-color: hsl(0, 0%, 74%);

	font-size: 2rem;
	font-weight: bold;
	text-align: right;
}

.equal {
	grid-column: span 2 / auto;
}

.app button {
	padding: 0;

	background-color: hsl(0, 0%, 80%);
	border: none;

	font-size: 1rem;
	cursor: pointer;
}

.app button:hover {
	background-color: hsl(0, 0%, 70%);
}

.recent {
	width: 50%;
	min-width: 360px;
	max-width: 480px;

	background-color: white;
	overflow: scroll;

	border-radius: 5px;
}

.recent table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}

.recent table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}

.recent table th {
	background-color: orange;
	color: white;
}

.recent table tr:nth-child(even) {
	background-color: #d2d2d2;
}

.recent table th,
.recent table td {
	text-align: center;
	padding: 16px;
}
